.Phonetic {
   margin:10px 0;
}

.Phonetic button{
  border-radius: 5px;
  padding: 5px 5px;
  width: 150px;
  background-color: #5e4538;
  margin: 10px;
  border: solid 1px #5e4538;
  font-size: 20px;
  color: rgb(245, 245, 245) ;
}

button{
transition: all ease-in-out, 500ms;
}
.Phonetic button:hover{
  background-color: whitesmoke;
  color: #000;
}